body {
  background: red;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-window--container {
  border: 1px solid black;
  width: 500px;
  height: 300px;
  position: relative;
}

.menu-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.scene-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
}

.background__contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.background__cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: rgba(300,300,300,0.75);
  padding: 15px 15px 0px 15px;
  display: flex;
  flex-flow: column nowrap;
}

.text {
  flex-grow: 1;
  overflow: auto;
  white-space: pre;
}

.nextButton {
  text-align: right;
}
.nextButton--img {
  height: 15px;
  width: 30px;
}

.character * {
  height: 300px;
}

.answers-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  height: 225px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

}

.menu-bar-container{
  position: absolute;
  top: 0;
}

.overlay-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
}